<div class = "container">
  <p>
    My name is <%=@name %>. I am from <%=@hometown%>.
    I am <%=@age%> years old.
  </p>
  <p>
    <a href="/abouthometown">About My Hometown</a>
  </p>
    <a href="/">Home</a>
</div>
