<div class = "container">
  <p>
    Welcome to <%=@name%>'s blog! Read more about me
    and my posts down below.
  </p>
  <p>
  <a href="/aboutme">About Me</a>
</p>
<a href="/blogpost">Blog Posts!</a>

</div>
